{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    "node6",
    "es2017"
  ],
  "plugins": ["transform-runtime","transform-class-properties"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
